/*Mermaid Lagoon color combination*/
html {
  width: 100%;
  height: 100%;
}

body {
  color: black;
  background-color: #b1d4e0;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Raleway", sans-serif;
  background-color: white;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 96%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
}

.navigation .navigation__logo {
  color: #004169;
}

.navigation .navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation .navigation__links li {
  padding: 1rem;
}

.navigation .navigation__links li a {
  text-decoration: none;
  border: solid #004169;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 900;
  padding: 1rem;
}

.navigation .navigation__links li a:visited {
  color: #004169;
  background-color: white;
}

.navigation .navigation__links li a:hover {
  color: white;
  background-color: #004169;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills {
  background-color: #004169;
  width: 100%;
  text-align: center;
}

.skills h1 {
  margin-top: 1rem;
  padding: 1rem;
}

.skills .skills__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  text-align: left;
}

.skills .skills__boxes .skills__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  padding: 1rem;
  min-height: 300px;
}

.skills .skills__boxes .skills__box ul {
  width: 100%;
}

.skills .skills__boxes .skills__box ul li,
.skills .skills__boxes .skills__box ul h2 {
  padding: 0.3rem;
}

.work {
  text-align: center;
}

.work h1 {
  margin-top: 1rem;
  padding: 1rem;
}

.work .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.work .projects .project {
  width: 100%;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.work .projects .project:hover {
  opacity: 0.7;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.work .projects .project .project-image {
  display: block;
  background-size: contain;
  width: 100%;
  border-radius: 15px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.project:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  border-radius: 15px;
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 150px;
}

.text:hover {
  cursor: pointer;
  background-color: #004169;
}

.text--1 {
  top: 70%;
  left: 30%;
}

.text--2 {
  top: 70%;
  left: 70%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  min-height: 100px;
  background-color: #004169;
  padding-bottom: 1rem;
  font-size: 16px;
  color: white;
}

.footer .footer__social {
  width: 20%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2rem;
}

.footer .footer__social .icon-color-transition:hover {
  cursor: pointer;
  color: black;
}
/*# sourceMappingURL=style.css.map */